#sbx-panel {
    padding-bottom: 20px;
}

#sbx-search {
    border-radius: 8px;
    background-color: #00b06f;
    color: white;
}

#sbx-search:disabled {
    opacity: 50%;
}

#sbx-input {
    border-radius: 8px;
}

.invalid {
    border-color: red !important;
}

.highlighted {
    border: solid #00b06f;
    border-radius: 8px;
}