body {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    background-color: #1a1a1a;
}

.input {
    background-color: #363636;
    font-family: Roboto;
    padding: 8px;
    border: none;
}

.input::placeholder {
    font-family: Roboto;
    color: #c5c5c5
}

.input, select, textarea {
    color: white;
}

#status {
    font-weight: bold;
    margin: 0px;
    bottom: 0px;
    text-align: center;
}

#bar {
    height: 30px;
    width: 185px;
    width: 0%;
    background-color: #0077ff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

#icon {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#chunk {
    -moz-appearance: none;
    width: 100%;
    height: 15px;
    background: #363636;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chunk::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #0077ff;
    cursor: pointer;
}

#search {
    font-family: Roboto;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: white;
    background-color: #0077ff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search:disabled {
    opacity: 0.6;
    cursor: auto;
}

#warning {
    max-width: 175px;
    color: red;
}